/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	margin-top: 200px;
	margin-left: 400px;
	transform: translate(0, 0);
	.content{
	width: 250px;
	text-align: center;
	display: inline-block;
	padding-right: 200px;

  .fit{
	z-index: 100;
	object-fit: cover;
	width: 250px;
	height: 250px;
  	border-radius: 200px;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
  }
  .fit_1{
	background-image: linear-gradient(to bottom, rgb(253,253,150,0.5), rgb(255,179,71, 0.5)),
	url('fitness_1.jpg');
  }
  .fit_2{
	background-image: linear-gradient(to bottom, rgb(253,253,150,0.5), rgb(255,179,71, 0.5)),
	url('fitness_2.jpg');
  }
  .fit_3{
	background-image: linear-gradient(to bottom, rgb(253,253,150,0.5), rgb(255,179,71, 0.5)),
	url('fitness_3.jpg');
  }
  h1{
	padding-top: 40px;
	font-size: 23px;
	font-weight: bold;

  }
  p{
	padding-top: 30px;
	color: rgb(182, 178, 178);
	line-height: 30px;
	padding-bottom: 30px;
  }
  button{
	background-color: #FF8932;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	color: white;
	font-weight: 100;
	border-radius: 3px;

  }
	}
	.content:last-child{
		padding-right: 0px;
	}

}

